In [1]:
_num=10 # hidden variable

# AGENDA
Variable Case senstivity
Reserved words in Python
Multi assignment of variables
User input
type casting | type conversion
Memory block
Operators
- Logical
- Equality
- Comparison
- Arithmetic
-Bitwise [advance classes]
-Operators for sets and dictionary [advance classes]
String Method

# Variable Case Sensitivity

variables name defined as

Ashish ="India"
ashish ="US"

In [3]:
TEN =10
ten= 20
# TEN and ten both are different in terms of lowercase and upper case  letter

In [2]:
print(Ten)

NameError: name 'Ten' is not defined

In [4]:
TEN

10

# Reserved words in Python
https://realpython.com/lessons/reserved-keywords/

WE should not use reserved words as variable names
Also python doesn't restrict the user to use reserved keywords as varibale names

In [5]:
print("Hi there")

Hi there

In [3]:
print="Hi there" # as a variable
type (print)

str

In [4]:
del print   # delete the variable print

In [5]:
print("Hi there")

Hi there

In [23]:
print=10

In [24]:
type(print)

int

In [26]:
del print

In [27]:
print("Sunny")

Sunny

# Multi assignment of variables

In [13]:
a,b,c,yes=10,20,"Sunny",True

In [9]:
type(a)

int

In [10]:
type(b)

int

In [11]:
type(c)

str

In [14]:
type(yes)

bool

In [15]:
a,b,c=10

TypeError: cannot unpack non-iterable int object

In [16]:
type(a)
type(b)
type(c)
type(yes)

bool

In [17]:
print (type(a))
print (type(b))
print (type(c))
print (type(yes))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [18]:
a,b,c=10,10,10

In [20]:
a,A,c,C=10,20.2,"Sunny",True

In [21]:
print(a,A,c,C)

10 20.2 Sunny True

In [22]:
a=b=c=10

In [23]:
a,b,c

(10, 10, 10)

In [28]:
firstName,middleName,sirName="Sunny","Bhaveen","Chandra"

In [29]:
print(f"{firstName}.{sirName}@gmail.com")

Sunny.Chandra@gmail.com

In [30]:
name,place,year_of_birth,weight="Sunny","Bengaluru",1991,80.88

In [32]:
print(name,place,year_of_birth,weight)

Sunny Bengaluru 1991 80.88

In [33]:
print(f"""My name is :{name}
I live at : {place}
I was born in:{year_of_birth}
My weight is :{weight} in Kgs
""")

My name is :Sunny
I live at : Bengaluru
I was born in:1991
My weight is :80.88 in Kgs

## User input

In [26]:
name= input("Enter your Name: ")
print(f"You have entered :{name}")

Enter your Name: Sunny
You have entered :Sunny

In [27]:
A= input("Entervalue of A : ")
B=input("Enter value of B: ")

print(f"Sum of A & B is : {A+B}")

Entervalue of A : 12
Enter value of B: 10
Sum of A & B is : 1210

In [28]:
A= input("Entervalue of A : ")
B=input("Enter value of B: ")
print(type(A),type(B))
print(f"Sum of A & B is : {A+B}")

Entervalue of A : 12
Enter value of B: 10
<class 'str'> <class 'str'>
Sum of A & B is : 1210

In [36]:
name=  input("Name: ")
place=input("place: ")
year_of_birth=input("year_of_birth: ")

Name: Bhaven
place: Lucknow
year_of_birth: 1996

In [37]:
print(f"""
My name is :{name}
I live at : {place}
I was born in:{year_of_birth}

""")

My name is :Bhaven
I live at : Lucknow
I was born in:1996

In [39]:
# Calculate the age of the user
name=  input("Name: ") # input always gives you string
place=input("place: ")
year_of_birth=input("year_of_birth: ")

age=2022-year_of_birth

Name: Sunny
place: Blr
year_of_birth: 1991

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [42]:
# Calculate the age of the user
name=  input("Name: ") # input always gives you string
place=input("place: ")
year_of_birth=int(input("year_of_birth: "))

age=2022-year_of_birth
print(f"""
My name is :{name}
I live at : {place}
{name} is of age : {age}

""")

Name: Ritesh
place: Bihar
year_of_birth: 1998

My name is :Ritesh
I live at : Bihar
Ritesh is of age : 24

In [41]:
print(f"""
My name is :{name}
I live at : {place}
{name} is of age : {age}

""")

My name is :sunny
I live at : Blr
sunny is of age : 24

In [43]:
# Calculate the age of the user
name=  input("Name: ") # input always gives you string
place=input("place: ")
year_of_birth=int(input("year_of_birth: "))
current_year= int(input("current_year :"))

age=current_year-year_of_birth
print(f"""
My name is :{name}
I live at : {place}
{name} is of age : {age}

""")

Name: Ritesh
place: Chapra Bihar
year_of_birth: 1998
current_year :2022

My name is :Ritesh
I live at : Chapra Bihar
Ritesh is of age : 24

# Type Conversion
we can convert the data type of one variable into another if it is allowed

In [29]:
A= int(input("Entervalue of A : "))
B=int(input("Enter value of B: "))
print(type(A),type(B))
print(f"Sum of A & B is : {A+B}")

Entervalue of A : 12
Enter value of B: 10
<class 'int'> <class 'int'>
Sum of A & B is : 22

In [31]:
A= float(input("Entervalue of A : "))
B=float(input("Enter value of B: "))
print(type(A),type(B))
print(f"Sum of A & B is : {A+B}")

Entervalue of A : 12.2
Enter value of B: 10.2
<class 'float'> <class 'float'>
Sum of A & B is : 22.4

In [34]:
A= float(input("Entervalue of A : "))
B=int(input("Enter value of B: "))
print(type(A),type(B))
print(f"Sum of A & B is : {A+B}")

Entervalue of A : 12.2
Enter value of B: 9
<class 'float'> <class 'int'>
Sum of A & B is : 21.2

In [10]:
# String to integer
A="50"
print(f"data type before : {type(A)}, value of A: {A} ")
A= int(A)
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>, value of A: 50
data type after:<class 'int'>,value of A: 50

In [11]:
# String to integer
A="50.22"# entering float value
print(f"data type before : {type(A)},value of A: {A}")
A= int(A) # trying to convert it into integer
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>,value of A: 50.22

ValueError: invalid literal for int() with base 10: '50.22'

In [12]:
# float to integer
A= 50.22 # entering float value
print(f"data type before : {type(A)},value of A: {A}")
A= int(A) # trying to convert it into integer
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'float'>,value of A: 50.22
data type after:<class 'int'>,value of A: 50

In [14]:
# integer to float
A= 50 # entering int value
print(f"data type before : {type(A)},value of A: {A}")
A= float(A) # trying to convert it into float
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'int'>,value of A: 50
data type after:<class 'float'>,value of A: 50.0

In [15]:
# integer to boolean
A= 10
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'int'>,value of A: 10
data type after:<class 'bool'>,value of A: True

In [ ]:
# True in binary - 1
# False in binary - 0

In [16]:
# integer to boolean
A= 0
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'int'>,value of A: 0
data type after:<class 'bool'>,value of A: False

In [17]:
# integer to boolean
A= -5
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'int'>,value of A: -5
data type after:<class 'bool'>,value of A: True

In [ ]:
# Converting  any non Zero number and string values into boolean will give TRUE  as an answer
 # Empty string will give FALSE as an answer after converting string into boolean

In [18]:
# string  to boolean
A= "Sunny"
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>,value of A: Sunny
data type after:<class 'bool'>,value of A: True

In [19]:
# string  to boolean
A= "True"
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>,value of A: True
data type after:<class 'bool'>,value of A: True

In [20]:
# string  to boolean
A= "False"
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>,value of A: False
data type after:<class 'bool'>,value of A: True

In [21]:
# empty string  to boolean
A= ""
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>,value of A:
data type after:<class 'bool'>,value of A: False

In [22]:
# empty string  to integer
A= ""
print(f"data type before : {type(A)},value of A: {A}")
A= int(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>,value of A:

ValueError: invalid literal for int() with base 10: ''

In [44]:
A= int(input("Entervalue of A : "))
B=int(input("Enter value of B: ")) # 10.2 is float but not converting to integer
print(type(A),type(B))
print(f"Sum of A & B is : {A+B}")

Entervalue of A : 10
Enter value of B: 10.2

ValueError: invalid literal for int() with base 10: '10.2'

In [46]:
# empty string  to boolean
A= " "
print(f"data type before : {type(A)},value of A: {A}")
A= bool(A) 
print(f"data type after:{type(A)},value of A: {A}")

data type before : <class 'str'>,value of A:
data type after:<class 'bool'>,value of A: True

# Memory Block

In [47]:
a=22
b=34
c=22

In [48]:
id(a)

1672039656400

In [49]:
id(b)

1672039656784

In [50]:
id(c)

1672039656400

In [52]:
c=22+b

In [53]:
id(c)

1672039845968

In [54]:
a=22
id(a)

1672039656400

In [55]:
a=99
id(a)

1672039847344

In [56]:
# Memory is assigned to the value of variable passed not the variable name

In [57]:
a=22
b=34
c=22

print(id(a),id(b),id(c))

1672039656400 1672039656784 1672039656400

In [58]:
a="Sunny"
b=34
c="Sunny"

print(id(a),id(b),id(c))

1672151119728 1672039656784 1672151119728

In [59]:
a,b,c=22,52,22

print(id(a),id(b),id(c))

1672039656400 1672039657360 1672039656400

In [60]:
a="S"
b=34
c="S"

print(id(a),id(b),id(c))

1672042067760 1672039656784 1672042067760

In [61]:
a=22
b=34
c=22.0

print(id(a),id(b),id(c))

1672039656400 1672039656784 1672151933104

In [ ]:
# Assignment-
## send the mail to 
To: query@ineuron.ai
CC: sunny@ineuron.ai, riishav@ineuron.ai
Subject: [Bootcamp 2.0 | Assignment No-1]
    1. Find out all the types of error that we have encountered in our lecture and why?
    2.Take input A and B and print their sum ,mul,div,square of the nos.
    3. How many reserve keywords are there in python and why we should not use them as a variable name.
    4. Create email ids with the user inputs. in the following format-
       <lastname>.<firstname>@gmail.com
    5. Try to print the following lines-
       - Hi I'm Sunny
        - My address is 22/3
        - I earn 20$ daily
    6. Take user input (name,date of birth etc ) to fill a form for your college and print their email IDs.
    7. Convert the folllowing-
       - "22.4" into integer
        - "22" into complex no
        -