# Nesting of the list

list inside a list

In [1]:
A=[[1,2,3],[11,22,33],[45,56,77]]

A

[[1, 2, 3], [11, 22, 33], [45, 56, 77]]

In [2]:
A[0]

[1, 2, 3]

In [3]:
A[1]

[11, 22, 33]

In [4]:
A[1][1]

22

In [5]:
A=[[1,2,3],[11,22,33,[500,502]],[45,56,77]]

A[0]

[1, 2, 3]

In [6]:
A[1]

[11, 22, 33, [500, 502]]

In [7]:
A[1][3]

[500, 502]

In [8]:
A[1][3][0]

500

In [10]:
A=[[1,2,3],[11,22,33,[500,502]],[45,[239,"Hii"],56,77]]
A

[[1, 2, 3], [11, 22, 33, [500, 502]], [45, [239, 'Hii'], 56, 77]]

In [11]:
A[2]

[45, [239, 'Hii'], 56, 77]

In [12]:
A[2][1]

[239, 'Hii']

In [13]:
A[2][1][1]

'Hii'

In [14]:
A[-1]

[45, [239, 'Hii'], 56, 77]

In [15]:
A[-1][1]

[239, 'Hii']

In [16]:
A[-1][1][-1]

'Hii'

In [17]:
A[-1][-3][-1]

'Hii'

In [20]:
amazon_cart=[["Watch",5000],["phone",10000],["laptop",50000]]

total_cost=0

In [21]:
# without for loop
amazon_cart[0][1]

5000

In [22]:
amazon_cart[1][1]

10000

In [23]:
amazon_cart[2][1]

50000

In [24]:
amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1]

65000

In [33]:
amazon_cart=[["Watch",5000],["phone",10000],["laptop",50000]]
total_cost=0

for i in range (len(amazon_cart)):
    #print(i)
    print(amazon_cart[i][1])
    total_cost=total_cost+amazon_cart[i][1]
    
print(total_cost)

5000
10000
50000
65000

In [39]:
amazon_cart=[["Watch",5000],["phone",10000],["laptop",50000]]
total_cost=0

print(f"empty cart : {total_cost}")

for item in amazon_cart:
    print(item[1])
    total_cost=total_cost+item[1]
    print(f"cart after adding {item[0]}: {total_cost}")
    
print(f"Total payable amount : {total_cost}")

empty cart : 0
5000
cart after adding Watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding laptop: 65000
Total payable amount : 65000

# List comprehension

In [ ]:
 # list which contain list of square of nos between 1 to 20

    
A=[1,2,3,4,5,6,7,8,9,10]

ans=[1,4,9,16,...]

In [35]:
A=[1,2,3,4,5,6,7,8,9,10]

ans=list()

for ele in A:
    print(ele**2)
    ans.append(ele**2)
    
print(ans)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
ans=[ele**2 for ele in A] # list comprehension

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
ans=[i**2 for i in A]

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
# only take the squqre of odd no in the list A
A=[1,2,3,4,5,6,7,8,9,10]

# ans=[1,9,25,...]

ans=list()
print(ans)
for ele in A:
    if ele%2!=0:
        print(ele**2)
        ans.append(ele**2)
        
ans

[]
1
9
25
49
81

[1, 9, 25, 49, 81]

In [43]:
ans=[ele**2 for ele in A if ele%2!=0] # list comprehension

print(ans)

[1, 9, 25, 49, 81]

# count

In [47]:
A=[1,2,1,3,4,5,6,7,7,7]

In [48]:
A.count(1)

2

In [49]:
A.count(7)

3

In [50]:
A.count(7999)

0

In [58]:
A=[1,2,1,3,4,5,6,7,7,7]

for i in A:
    print(i,A.count(i))

1 2
2 1
1 2
3 1
4 1
5 1
6 1
7 3
7 3
7 3

In [53]:
A=[1,2,1,3,4,5,6,[7,7],[7,7]]

A.count([7,7])

2

In [54]:
A.count(7)

0

In [55]:
A[-1].count(7)

2

In [60]:
A="Sunny"

for i in A:
    print(i,A.count(i))

S 1
u 1
n 2
n 2
y 1

In [61]:
A=["Sunny","Sunny","Chandra"]

for i in A:
    print(i,A.count(i))

Sunny 2
Sunny 2
Chandra 1

In [62]:
A=["Sunny","SUNNY","Chandra"]

for i in A:
    print(i,A.count(i))

Sunny 1
SUNNY 1
Chandra 1

# Extend Method

In [67]:
A=[1,2,3]

B=[11,22,33]

print(A+B)
print("before assignment")
print(A)

A=A+B
print("after assignment")
print(A)

[1, 2, 3, 11, 22, 33]
before assignment
[1, 2, 3]
after assignment
[1, 2, 3, 11, 22, 33]

In [64]:
A=[1,2,3]

B=[11,22,33]

A.extend(B) # permanent operation, inplace assignment

A

[1, 2, 3, 11, 22, 33]

In [65]:
A=[1,2,3]

B=[11,22,33]

A.append(B) # permanent operation, inplace assignment

A

[1, 2, 3, [11, 22, 33]]

## index method

In [74]:
A=[11,3,4,56+2j,"Sunny",1+2j]

In [75]:
A.index(11)

0

In [76]:
A.index("Sunny")

4

In [77]:
A.index(1+2j)

5

In [80]:
# print the index of all the complex numbers
# do a for loop
# if condition for type check
# if type is complex then print the index

for ele in A:
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")
    if type(ele)==complex:
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: Sunny | Type: <class 'str'> | Index: 4
Element: (1+2j) | Type: <class 'complex'> | Index: 5
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [81]:
for ele in A:
    if type(ele)==int:
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2

In [82]:
for ele in A:
    if type(ele)==str:
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: Sunny | Type: <class 'str'> | Index: 4

# isinstance

In [83]:
for ele in A:
    #if type(ele)==int:
    if isinstance(ele,complex):
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [89]:
ans=[ele for ele in A if isinstance(ele,complex)]
ans

[(56+2j), (1+2j)]

In [90]:
ans=[ele for ele in A if type(ele)==complex]
ans

[(56+2j), (1+2j)]

In [84]:
for ele in A:
    #if type(ele)==int:
    if isinstance(ele,int):    
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2

In [85]:
for ele in A:
    #if type(ele)==str:
     if isinstance(ele,str): 
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: Sunny | Type: <class 'str'> | Index: 4

In [86]:
# print the index all the complex or int also
for ele in A:
   
    if isinstance(ele,complex) or isinstance(ele,int):
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [87]:
# print the index all the complex or  int also
for ele in A:
   
    if isinstance(ele,(complex,int)):  # pythonic way  # pythonic case
           print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [91]:
A=[11,3,4,56+2j,"Sunny",1+2j,3,3] # duplicate elements

A.index(3)

1

In [92]:
A=[11,"xyz",3,4,56+2j,"Sunny",1+2j,3,3] # duplicate elements

A.index(3)

2

In [95]:
A=[11,"xyz",3,4,56+2j,"Sunny",1+2j,3,3] # duplicate elements

A.index(4444444)

ValueError: 4444444 is not in list

In [93]:
A=[1,2,3,[4,5,6],7,8,9]

A.index(4)

ValueError: 4 is not in list

In [96]:
A=[1,2,3,[4,5,6],7,8,9]

A.index([4,5,6])

3

In [94]:
A=[1,2,3,[4,5,6],7,8,9]

A[3].index(4)

0

# insert method

In [97]:
A=[1,2,3,4,5]

A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [98]:
A.insert(2,"Sunny")

A

[1, 2, 'Sunny', 3, 4, 5, 99]

In [99]:
A.insert(2000,"Sunny")

A

[1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [101]:
A[2000]

IndexError: list index out of range

In [100]:
A.insert(-2000,"Sunny")

A

['Sunny', 1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [102]:
A=[3,4,5]

len(A)

3

In [103]:
A.insert(2,"Sunny")

len(A)

4

In [104]:
A.insert(2000,"Sunny")

len(A)

5

In [105]:
A.insert(,"Sunny")

len(A)

SyntaxError: invalid syntax (3646618160.py, line 1)

In [106]:
A.insert("Sunny")

len(A)

TypeError: insert expected 2 arguments, got 1

In [107]:
A

[3, 4, 'Sunny', 5, 'Sunny']

In [108]:
A.insert(2,[1,2,34])

A

[3, 4, [1, 2, 34], 'Sunny', 5, 'Sunny']

# remove

In [109]:
A=[1,2,3,455,6,77]

A.remove(455)

A

[1, 2, 3, 6, 77]

In [110]:
A=[1,2,3,455,6,77]

A.remove(77)

A

[1, 2, 3, 455, 6]

In [112]:
A=[1,1,2,3,455,6,77]

A.remove(1)

A

[1, 2, 3, 455, 6, 77]

In [113]:
A=[1,1,2,3,455,6,88,6,77]

A.remove(6)

A

[1, 1, 2, 3, 455, 88, 6, 77]

In [114]:
A=[1,1,2,3,455,6,88,6,77]

A.remove(999999)

A

ValueError: list.remove(x): x not in list

In [115]:
A.pop(-1)

77

In [116]:
A.pop() # this removes the last element

6

# TUPLES

In [ ]:
# TUPLES-()- immutable
# list=[]-mutable

In [117]:
A=(1,2,3)

In [118]:
type(A)

tuple

In [119]:
A[0]

1

In [120]:
A[-1]

3

In [121]:
A[0]=22

TypeError: 'tuple' object does not support item assignment

In [122]:
A=(22,12,34,1)

In [123]:
A.sort()

A

AttributeError: 'tuple' object has no attribute 'sort'

In [124]:
sorted(A)  # convert it into list then return the sorted list

[1, 12, 22, 34]

In [125]:
A=sorted(A)

A

[1, 12, 22, 34]

In [126]:
A=(22,12,34,1)

len(A)

4

In [127]:
A*2

(22, 12, 34, 1, 22, 12, 34, 1)

In [130]:
A=A*2

In [131]:
A

(22, 12, 34, 1, 22, 12, 34, 1)

In [137]:
A=(22,12,34,1)

In [129]:
A**2

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [138]:
max(A)

34

In [139]:
min(A)

1

In [140]:
A.index(12)

1

In [141]:
A.count(12)

1

In [142]:
sum(A)

69

In [143]:
A.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [144]:
A

(22, 12, 34, 1)

In [145]:
A[1:]

(12, 34, 1)

In [146]:
A[::-1]

(1, 34, 12, 22)

In [149]:
# ("item_name",amount)

amazon_cart=[("Watch",5000),("phone",10000),("laptop",50000),("shirt",1000)]

total_cost=0

In [150]:
total_cost=0

print(f"empty cart : {total_cost}")

for item in amazon_cart:
    print(item[1])
    total_cost=total_cost+item[1]
    print(f"cart after adding {item[0]}: {total_cost}")
    
print(f"Total payable amount : {total_cost}")

empty cart : 0
5000
cart after adding Watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding laptop: 65000
1000
cart after adding shirt: 66000
Total payable amount : 66000

In [154]:
# user input what you want to purchase
# user 


amazon_website=[("Watch",5000),("phone",10000),("laptop",50000),("shirt",1000)]

my_choice=input("What you want to purchase? :")

What you want to purchase? :phone

In [155]:
my_choice

'phone'

In [159]:
for item in amazon_website:
    
    if item[0]==my_choice:
        print(item)

('phone', 10000)

### Assignment

1. on amazon website we have the following items-

amazon_website=[("Watch",5000),("phone",10000),("laptop",50000),("shirt",1000)]

Take the user input N no. of times and find out the total cost to be paid?

if the item is not present in the amazon website then print that item as out of stock and do add it total cost to be paid?

OR

You can ask the user quantity or count of item?

HINT: while,for loop..indexing

## Sets

Unordered collection of unique elements

In [160]:
x={1,2,33,6,7}

In [161]:
type(x)

set

In [163]:
x={1,2,33,6,7,7,7}

x

{1, 2, 6, 7, 33}

In [164]:
x=set() # RECOMMENDED

type(x)

set

In [165]:
x={}  # NOT RECOMMENDED

type(x)

dict

In [166]:
x=tuple()

x

()

In [167]:
x=list()

x

[]

In [168]:
x={1,2,33,6,7,7,7}

x

{1, 2, 6, 7, 33}

In [169]:
x[0]

TypeError: 'set' object is not subscriptable

In [173]:
x={1,2,33,6,"Sunny"}

x

{1, 2, 33, 6, 'Sunny'}

https://ncert.nic.in/ncerts/l/kemh101.pdf theory set NCERT class XI

In [175]:
x.add(99)

x

{1, 2, 33, 6, 99, 'Sunny'}

In [181]:
x.add(99+2j)

x

{(99+2j), 1, 2, 33, 6, 99, 'Sunny'}

In [182]:
x.add(-100)

x

{(99+2j), -100, 1, 2, 33, 6, 99, 'Sunny'}

In [183]:
x.add(-200)

x

{(99+2j), -100, -200, 1, 2, 33, 6, 99, 'Sunny'}

In [184]:
x.add(20.2)

x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 6, 99, 'Sunny'}

In [185]:
x.add(40.2)

x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Sunny'}

In [186]:
x.remove(-100)

x

{(99+2j), -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Sunny'}

In [179]:
##  return the list with unique elements

A=[1,2,3,5,5,6,6,7,7,7]

A=list(set(A))

A

[1, 2, 3, 5, 6, 7]

In [176]:
x.append(99)

x

AttributeError: 'set' object has no attribute 'append'

In [177]:
A={1,2,3}
B={4,5,6}

A+B

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [192]:
example=[i**2 for in range(1,11)]

example

SyntaxError: invalid syntax (2595438051.py, line 1)