In [ ]:
Try to understand the following examples and answer the question based on it -
Arithmatic Operators

Operation	Meaning
+	addition
-	subtraction
*	multiplication
/	true division
//	integer division
%	the modulo operator
Here +, -, *, / are regular arithmatic operators. Lets look at the // and % operators

Usecase or examples -

var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
OUTPUT: integer division: 25/5=5

var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
OUTPUT: integer division: 25/3=8

var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
OUTPUT: remainder: 25/5 is 0

var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
OUTPUT: remainder: 25/3 is 1

Answer below questions on the above theory -
Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

# Agenda

String Method

In [1]:
A=5
B=2
A//B

2

In [2]:
A%2

1

In [3]:
A=55
B=2

if A % B==0:
    print(f"A:{A} is divisble by B:{B}")
else:
    print(f"A:{A} is  not divisble by B:{B}")

A:55 is  not divisble by B:2

In [4]:
A=55
B=3

if A % B==0:
    print(f"A:{A} is divisble by B:{B}")
else:
    print(f"A:{A} is  not divisble by B:{B}")

A:55 is  not divisble by B:3

In [5]:
A=4

A**(1/2)

2.0

If N Characters or elements are there in a string then 

 the index range will vary from 0 to N-1 
for example is "Sunny"  N=5
index value is ranging from 0 to 4

in reverese order from -1 to -5

### STRING Method

In [6]:
# String indexing
#     01234
#     -5-4-3-2-1     
name="Sunny"

name[0]

'S'

In [7]:
name[4]

'y'

In [8]:
name[-1]

'y'

In [9]:
name[-0]

'S'

In [11]:
name[-5]

'S'

In [12]:
# String Slicing

#     01234
#     -5-4-3-2-1     
name="Sunny"

name[1:] #[starting:ending]

'unny'

In [13]:
name[1:3]  # this means that ending is excluded

'un'

In [14]:
name[1:4]

'unn'

In [15]:
name[1:5] # 5 is not icluded

'unny'

In [16]:
name[-4:-1]

'unn'

In [27]:
# Indexing -0123456789
date="08/10/22"

# print today,s date ,Month and year
todaysdate=date[0:2]
todaysMonth=date[3:5]
todaysyear =date[6:]

print(f"its {todaysdate}th  of the month {todaysMonth} of the year {todays year}")

SyntaxError: f-string: invalid syntax (3876476550.py, line 9)

In [30]:
date=input("enter date of birth in the format DD/MM/YYY")

todaysdate=date[0:2]
todaysMonth=date[3:5]
todaysyear =date[6:]
print(f"its date of birth {todaysdate}th  of the month {todaysMonth} of the year {todaysyear} ")

enter date of birth in the format DD/MM/YYY01091999
its date of birth 01th  of the month 91 of the year 99

In [29]:
date=input("enter date of birth in the format DD/MM/YYY")

todaysdate=date[0:2]
todaysMonth=date[3:5]
todaysyear =date[6:]
print(f"its date of birth {todaysdate}th  of the month {todaysMonth} of the year {todaysyear} ")

enter date of birth in the format DD/MM/YYY08/09/1999
its date of birth 08th  of the month 09 of the year 1999

In [31]:
name="Sunny"  # S_n_y

name[0:5:2] # start:end:step  jumping by 2

'Sny'

In [32]:
name[0::2] # start:end:step

'Sny'

In [33]:
# step is 3  s__n_    Sunny  0 0+3
name[0:5:3] # start:end:step

'Sn'

In [34]:
name= "Suuny Bhaveen Chandra"
name[0::2]

'SuyBaenCada'

In [35]:
name= "Suuny Bhaveen Chandra"
name[0::3]

'SnBvnhd'

In [36]:
name= "Suuny Bhaveen Chandra"
name[::]

'Suuny Bhaveen Chandra'

In [37]:
name= "Suuny Bhaveen Chandra"
name[::2]

'SuyBaenCada'

In [38]:
name= "Suuny Bhaveen Chandra"
name[::3]

'SnBvnhd'

In [39]:
name= "Suuny Bhaveen Chandra"
name[::-1]

'ardnahC neevahB ynuuS'

In [40]:
name= "Suuny Bhaveen Chandra"
name[::-2]

'adaCneaByuS'

# Palindrome Reverse and front are same

In [41]:
# Palindrome Sequence
# madam
# Malyalam
# nayan
#bob
# radar

data=input("input a string: ")
reverse=data[::-1]  # start:end:step

print(data,reverse)

input a string: radar
radar radar

In [42]:
data=input("input a string: ")
reverse=data[::-1]  # start:end:step

if data==reverse:
    print(f"input string :{data} is palindrome")
else:
     print(f"input string :{data} is  not a palindrome")

input a string: radar
input string :radar is palindrome

In [43]:
data=input("input a string: ")
reverse=data[::-1]  # start:end:step

if data==reverse:
    print(f"input string :{data} is palindrome")
else:
     print(f"input string :{data} is  not a palindrome")

input a string: Radar
input string :Radar is  not a palindrome

In [44]:
data=input("input a string: ")
reverse=data[::-1]  # start:end:step

if data==reverse:
    print(f"input string :{data} is palindrome")
else:
     print(f"input string :{data} is  not a palindrome")

input a string: Suuny
input string :Suuny is  not a palindrome

### Mutability

Mutable means subject to change or which can be changed

In [45]:
name="Sunny"

# Replace S with F?

name[0]="F"  # immutability # String

TypeError: 'str' object does not support item assignment

In [47]:
"F" + name[1:]

'Funny'

In [48]:
name= "F" + name[1:]
name

'Funny'

In [49]:
name.replace("y","YYY")

'FunnYYY'

In [50]:
name

'Funny'

In [52]:
name=name.replace("y","YYY")
name

'FunnYYY'

In [53]:
name="Sunny BHAVEEN CHANDRA"

name=name.replace("Sunny", "SUNNY")

In [54]:
name

'SUNNY BHAVEEN CHANDRA'

In [55]:
name="Sunny BHAVEEN CHANDRA"

name=name.replace("n", "N")
name

'SuNNy BHAVEEN CHANDRA'

In [ ]:
# Reference string method in python
https://docs.python.org/3/library/string.html

In [56]:
name="Sunny BHAVEEN CHANDRA"

name=name.replace(" ", "_")
name

'Sunny_BHAVEEN_CHANDRA'

In [ ]:
### Length of the string

In [57]:
len(name)

21

In [58]:
len("Sunny")

5

In [60]:
name=" Sunny  "
len(name)

8

In [61]:
name=" Sunny  "

name=name.replace(" ","")
len(name)

5

String indexing
String Slicing
String Skipping
String Reversal
String replace method
length of the String
String is immutable because we cannot directly assign any value using indexing

In [62]:
name="Sunny Chandra Bhaveen"
name[4]

'y'

In [70]:
name="Sunny Bhaveen Chandra"
name[6:13]

'Bhaveen'

In [71]:
name="Sunny Bhaveen Chandra"
name[::3]

'SnBvnhd'

In [72]:
name="Sunny Bhaveen Chandra"
name[::-1]

'ardnahC neevahB ynnuS'

In [73]:
name="Sunny Bhaveen Chandra"
name.replace(" ","=")

'Sunny=Bhaveen=Chandra'

In [74]:
name="Sunny Bhaveen Chandra"
len(name)

21

In [75]:
name[9]="f"

TypeError: 'str' object does not support item assignment

In [76]:
name[-5:-5]

''

### Count Specific Characters in a String

In [77]:
name="Sunny"

name.count("n")

2

# Split Operation

In [78]:
name="Sunny Bhaveen Chandra"
name.split(" ")

['Sunny', 'Bhaveen', 'Chandra']

In [79]:
first_name,middle_name,sir_name=name.split(" ")

print(f"""
First name:{first_name}
Middle name :{middle_name}
Sir name :{sir_name}""")

First name:Sunny
Middle name :Bhaveen
Sir name :Chandra

In [80]:
data=input("DDMMMYYY")

date,month,year=data.split("/")
print(f"The user was born in the month {month} in the year:{year} on date :{date}")

DDMMYYY19/Feb/1999
The user was born in the month Feb in the year:1999 on date :19

In [85]:
name="Sunny_Bhaveen_Chandra"
name.split("_")

['Sunny', 'Bhaveen', 'Chandra']

In [86]:
name.split("n")

['Su', '', 'y_Bhavee', '_Cha', 'dra']

In [87]:
name.split(".")

['Sunny_Bhaveen_Chandra']

In [88]:
date=input("Enter the date in DD/MM/YYY: ")
date.split("/")

Enter the date in DD/MM/YYY: 17th/March/95

['17th', 'March', '95']

In [89]:
A,B,C=date.split("/")

print(A,B,C)

17th March 95

In [93]:
A=date.split("/")
A

['17th', 'March', '95']

In [94]:
A[0]

'17th'

In [95]:
A[1]

'March'

In [96]:
len(A)

3

### lower upper,title case etc

In [97]:
name="Sunny Bhaveen Chandra"
name.lower()

'sunny bhaveen chandra'

In [98]:
name="Sunny_Bhaveen_Chandra"
name.upper()

'SUNNY_BHAVEEN_CHANDRA'

In [100]:
name=input("Enter your name: ")
print(f"user input: {name}")

print(f"name in upper case:{name.upper()}")
print(f"name in lower case:{name.lower()}")
print(f"name in title case:{name.title()}")
print(f"name in capitalize case:{name.capitalize()}")
print(f"name in swapcase case:{name.swapcase()}")

Enter your name: Sunny BHAveen chanDRA
user input: Sunny BHAveen chanDRA
name in upper case:SUNNY BHAVEEN CHANDRA
name in lower case:sunny bhaveen chandra
name in title case:Sunny Bhaveen Chandra
name in capitalize case:Sunny bhaveen chandra
name in swapcase case:sUNNY bhaVEEN CHANdra

In [101]:
name=input("Enter your name: ")
print(f"user input: {name}")

print(f"name in upper case:{name.upper()}")
print(f"name in lower case:{name.lower()}")
print(f"name in title case:{name.title()}")
print(f"name in capitalize case:{name.capitalize()}")
print(f"name in swapcase case:{name.swapcase()}")

Enter your name: FarIYA
user input: FarIYA
name in upper case:FARIYA
name in lower case:fariya
name in title case:Fariya
name in capitalize case:Fariya
name in swapcase case:fARiya

In [102]:
name="Today is the best DAY of my Life"
print(f"user input: {name}")

print(f"name in upper case:{name.upper()}")
print(f"name in lower case:{name.lower()}")
print(f"name in title case:{name.title()}")
print(f"name in capitalize case:{name.capitalize()}")
print(f"name in swapcase case:{name.swapcase()}")

user input: Today is the best DAY of my Life
name in upper case:TODAY IS THE BEST DAY OF MY LIFE
name in lower case:today is the best day of my life
name in title case:Today Is The Best Day Of My Life
name in capitalize case:Today is the best day of my life
name in swapcase case:tODAY IS THE BEST day OF MY lIFE

In [104]:
name="Sunny Bhaveen Chandra"

"*".join(name)

'S*u*n*n*y* *B*h*a*v*e*e*n* *C*h*a*n*d*r*a'

In [106]:
name="Sunny Bhaveen Chandra"

"_".join(name)

'S_u_n_n_y_ _B_h_a_v_e_e_n_ _C_h_a_n_d_r_a'

In [107]:
name="Sunny Bhaveen Chandra"

"|".join(name)

'S|u|n|n|y| |B|h|a|v|e|e|n| |C|h|a|n|d|r|a'

In [109]:
"".join(reversed(name))

'ardnahC neevahB ynnuS'

In [108]:
name="Sunny Bhaveen Chandra"

name.replace(" ", "|")

'Sunny|Bhaveen|Chandra'

In [ ]:
### remove extra spaces front and back of the string

In [110]:
name=" Sunny "
name.strip(" ")

'Sunny'

In [111]:
name.trim()

AttributeError: 'str' object has no attribute 'trim'

In [112]:
name=" Sunny "
name.lstrip(" ")

'Sunny '

In [113]:
name=" Sunny "
name.rstrip(" ")

' Sunny'

In [114]:
name=" Sunny Bhaveen Chandra  "
name.strip(" ")

'Sunny Bhaveen Chandra'

In [115]:
name=" Sunny Bhaveen Chandra  "
name.replace(" ","")

'SunnyBhaveenChandra'

In [116]:
name=" ===Sunny Bhaveen Chandra===  "
name.strip("=")

' ===Sunny Bhaveen Chandra===  '

# F0rmatting

In [117]:
name="Sunny"

name.center(20,"#")

'#######Sunny########'

In [118]:
name="Sunny"

name.center(10,"#")

'##Sunny###'

In [119]:
name="Sunny"

name.center(2,"#")

'Sunny'

In [120]:
name="Sangeeta"

name.center(50,"*")

'*********************Sangeeta*********************'

In [ ]:
## Checking string cases

In [122]:
name="Sunny"

name.isupper()

False

In [123]:
name="sunny"

name.islower()

True

In [124]:
name="Sunny"

name.islower()

False

In [125]:
name="Sunny"

name.isspace()

False

In [126]:
name="Sunny  "

name.isspace()

False

In [127]:
name="  "

name.isspace()

True

In [2]:
name=input("Enter your name: ")

print(f"user input : {name}")

if name.istitle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"wrong input pleasw try again")
else:
    print(f"wrong input we need to autocorrect it")
    name=name.title()
    print(f"correct output:{name}")

Enter your name: sunny chandra
user input : sunny chandra
wrong input we need to autocorrect it
correct output:Sunny Chandra

In [3]:
name=input("Enter your name: ")

print(f"user input : {name}")

if name.istitle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"wrong input pleasw try again")
else:
    print(f"wrong input we need to autocorrect it")
    name=name.title()
    print(f"correct output:{name}")

Enter your name: Sunny Chandra
user input : Sunny Chandra
user has given correct input

In [4]:
name=input("Enter your name: ")

print(f"user input : {name}")

if name.istitle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"wrong input pleasw try again")
else:
    print(f"wrong input we need to autocorrect it")
    name=name.title()
    print(f"correct output:{name}")

Enter your name: SunNY CHAndra
user input : SunNY CHAndra
wrong input we need to autocorrect it
correct output:Sunny Chandra

In [5]:
phone_number="1308580135"
phone_number.isdigit()

True

In [6]:
phone_number="1308580135ggg"
phone_number.isdigit()

False

In [8]:
phone_number=input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number)==10:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone no: 7980820476
user input is correct

In [10]:
phone_number=input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number)==10:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone no: 000000000
invalid input

In [11]:
phone_number=input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number)==10 and phone_number!="0000000000":
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone no: 0000000000
invalid input

In [12]:
phone_number.startswith("0")

True

In [14]:
phone_number.endswith("0")

True

In [15]:
phone_number="+917980820476"
phone_number.startswith("+91")

True

In [16]:
phone_number[1:].isdigit()

True

In [17]:
len(phone_number)

13

In [20]:
phone_number="+910000000000"
phone_number.count("0")

10

In [18]:
phone_number=input("Enter your indian phone no: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your indian phone no: +917980820476
user input is correct

In [19]:
phone_number=input("Enter your indian phone no: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your indian phone no: 899065765899
invalid input

In [21]:
PAN_NUMBERS="CKNPG9393T"
PAN_NUMBERS.isalnum()  # Check for alpha or numeric case

True

In [22]:
PAN_NUMBERS="675778889"
PAN_NUMBERS.isalnum()  # Check for alpha or numeric case

True

In [23]:
PAN_NUMBERS="SUNNY"
PAN_NUMBERS.isalnum()  # Check for alpha or numeric case

True

In [24]:
PAN_NUMBERS="SUNNY CHANDRA"
PAN_NUMBERS.isalnum()  # Check for alpha or numeric case

False

In [25]:
PAN_NUMBERS="SUNNY_CHANDRA"
PAN_NUMBERS.isalnum()  # Check for alpha or numeric case

False