# Agenda

Control Flow statements
-if else
-if elif else
-Nested if else
-Single line if else [Not recommended]
2. Loops in python

-for
-while

## if else [covered]

### if elif

Online Food Orders- Zomato App, Swiggy,Uber Eats

-if you order more than Rs 499
  -discount=20%
-if you order more than Rs.999
  -discount=30%
-if you order more than Rs.1499
  -discount-40%

In [1]:
Total_amount=90+100+100+1000

print(f"cart total:{Total_amount}")

if Total_amount > 999:
    price_after_discount=Total_amount*70/100
    print(f"Pay amount : {price_after_discount}")
elif Total_amount < 999 and Total_amount>499:   # 999<=price<499
    price_after_discount=Total_amount*80/100
    print(f"Pay amount : {price_after_discount}")
else:
    print(f"Pay amount : {Total_amount}")

cart total:1290
Pay amount : 903.0

In [3]:
Total_amount=90+100

print(f"cart total:{Total_amount}")

if Total_amount > 999:
    price_after_discount=Total_amount*70/100
    print(f"Pay amount : {price_after_discount}")
elif Total_amount < 999 and Total_amount>499:   # 999<=price<499
    price_after_discount=Total_amount*80/100
    print(f"Pay amount : {price_after_discount}")
else:
    print(f"Pay amount : {Total_amount}")

cart total:190
Pay amount : 190

In [4]:
Total_amount=90+100+500

print(f"cart total:{Total_amount}")

if Total_amount > 999:
    price_after_discount=Total_amount*70/100
    print(f"Pay amount : {price_after_discount}")
elif Total_amount < 999 and Total_amount>499:   # 999<=price<499
    price_after_discount=Total_amount*80/100
    print(f"Pay amount : {price_after_discount}")
else:
    print(f"Pay amount : {Total_amount}")

cart total:690
Pay amount : 552.0

In [5]:
Total_amount=90+100+500

print(f"cart total:{Total_amount}")

if Total_amount > 999:
    price_after_discount=Total_amount*70/100
    print(f"Pay amount : {price_after_discount}")
elif 499 <Total_amount < 999:   # 999<=price<499
    price_after_discount=Total_amount*80/100
    print(f"Pay amount : {price_after_discount}")
else:
    print(f"Pay amount : {Total_amount}")

cart total:690
Pay amount : 552.0

In [6]:
Total_amount=90+100+500

print(f"cart total:{Total_amount}")

if Total_amount > 999:
    price_after_discount=Total_amount*70/100
    print(f"Pay amount : {price_after_discount}")
if 499 <Total_amount <= 999:   # 999<=price<499
    price_after_discount=Total_amount*80/100
    print(f"Pay amount : {price_after_discount}")
else:
    print(f"Pay amount : {Total_amount}")

cart total:690
Pay amount : 552.0

In [81]:
Total_amount=90+100+500+1000

print(f"cart total:{Total_amount}")

if Total_amount>1499:
    price_after_discount=Total_amount*60/100 
    print(f"Pay amount : {price_after_discount}")

elif 999 < Total_amount <=1499:
    price_after_discount=Total_amount*70/100
    print(f"Pay amount : {price_after_discount}")
elif 499 <Total_amount <= 999:   # 999<=price<499
    price_after_discount=Total_amount*80/100
    print(f"Pay amount : {price_after_discount}")
else:
    print(f"Pay amount : {Total_amount}")

cart total:1690
Pay amount : 1014.0

### Nested if else

print if the no is negative or positive

In [13]:
val=float(input("Enter a number: "))
if val>=0:
    if val==0:
        print("Its Zero")
    else:
        print("Its a positive no")
else:
    print("Negative Number")

Enter a number: -9
Negative Number

## Single line if else

NOTE:-  RECOMMENDED FOR CODING IN PROJECTS OR PRODUCTION 

but good for competitive programming

In [16]:
# Print YES if the no is greater than 99

In [20]:
val=float(input("Enter a number: "))

if val>99: print("YES")

Enter a number: 999
YES

In [19]:
# OK for competitive program
# For production code and company it is not recommended

val=float(input("Enter a number: "))

if val>99: print("YES")
else: print("No")

Enter a number: 1
No

In [25]:
# Recommended approach
# Its more readable and clean

val=float(input("Enter a number: "))

if val>99: 
    print("YES")
else: 
    print("No")

Enter a number: 999
YES

In [23]:
# Only good for competitive Programming
val=float(input("Enter a number: "))
print("YES" if val >99 else "No")

Enter a number: 1000
YES

In [24]:
val=float(input("Enter a number: "))
print("YES" if val >99 else "No")

Enter a number: 9
No

# LOOPS
1. While loop
2. For loop
3. Loop Control
   -break
   -continue
   -pass
 4. Nested Loop

In [32]:
# UPSC,IAS,Governemnt Exams,Board Exams
# Repetive attempts

In [ ]:
While I do not cross the cutoff I will keep on giving my exams

while condition is True:
    print()

In [31]:
total_marks= 1000
cutoff= 400
scores= [100,200,300,399,500]

# I will keep on attempting until I Succeed

year= 0

while scores[year] < cutoff:
    print(f"Your Score is : {scores[year]}, cutoff :{cutoff}")
    print("I Will attempt next year")
    year=year + 1  # I am adding 1 to current year

Your Score is : 100, cutoff :400
I Will attempt next year
Your Score is : 200, cutoff :400
I Will attempt next year
Your Score is : 300, cutoff :400
I Will attempt next year
Your Score is : 399, cutoff :400
I Will attempt next year

In [30]:
scores[1]

200

In [33]:
year=4
scores[year]

500

# Infinite LOOP

if the condition is always TRUE then loop will keep on running

while True:
    print("YES")----infinite loop ended

In [1]:
"""
Child is learning to counting 10 rupees of note 

"""

notes = 5
i = 1  # 1st note

while i <= notes:
    print(f"current sum: {i * 10}")
    i=i+1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50

In [2]:
"""
Child is learning to counting 10 rupees of note 

"""

notes = 10
i = 1  # 1st note

while i <= notes:
    print(f"current sum: {i * 10}")
    i=i+1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
current sum: 60
current sum: 70
current sum: 80
current sum: 90
current sum: 100

In [3]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

corrent_station = 0
destination_station = "Station 03"

while stations[corrent_station] != destination_station:
    print(f"Current Station is : {stations[corrent_station]}")
    print(f"Destination station is : {destination_station}")
    print("Continue the Journey I have not reached the destination")
    corrent_station=corrent_station+1
    print(f"Next station is :{stations[corrent_station]}")
    print("-----")

Current Station is : Station 01
Destination station is : Station 03
Continue the Journey I have not reached the destination
Next station is :Station 02
-----
Current Station is : Station 02
Destination station is : Station 03
Continue the Journey I have not reached the destination
Next station is :Station 03
-----

# While else

In [4]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

corrent_station = 0
destination_station = "Station 03"

while stations[corrent_station] != destination_station:
    print(f"Current Station is : {stations[corrent_station]}")
    print(f"Destination station is : {destination_station}")
    print("Continue the Journey I have not reached the destination")
    corrent_station=corrent_station+1
    print(f"Next station is :{stations[corrent_station]}")
    print("-----")
else:
    print(f"I have arrived at : {stations[corrent_station]}")

Current Station is : Station 01
Destination station is : Station 03
Continue the Journey I have not reached the destination
Next station is :Station 02
-----
Current Station is : Station 02
Destination station is : Station 03
Continue the Journey I have not reached the destination
Next station is :Station 03
-----
I have arrived at : Station 03

"""
while CONDITION is True :
    statement
else:
    statement
"""

In [6]:
"""
Child is learning to counting 10 rupees of note 

"""

notes = 5
i = 1  # 1st note

while i <= notes:
    print(f"current sum: {i * 10}")
    i=i+1
else:
    print("No more 10 rupees notes left")

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
No more 10 rupees notes left

In [9]:
"""
Child is learning to counting 10 rupees of note 

"""

notes = 5
i = 1  # 1st note

while i <= notes:
    print(f"CONDITON :{i <= notes}")
    print(f"current sum: {i * 10}")
    print("-----")
    i=i+1
else:
    print(f"CONDITON :{i <= notes}")
    print("No more 10 rupees notes left")

CONDITON :True
current sum: 10
-----
CONDITON :True
current sum: 20
-----
CONDITON :True
current sum: 30
-----
CONDITON :True
current sum: 40
-----
CONDITON :True
current sum: 50
-----
CONDITON :False
No more 10 rupees notes left

 # for loop

In [10]:
for i in range(0,10):# 10 is out of bond
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(0,10):# 10 is out of bond
    print(f"10X{i}={10 * i}")

10X0=0
10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90

In [17]:
for i in range(0,10):# 10 is out of bond
    print(f"10X{i+1}={10 *(i+1)}")

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

In [16]:
for i in range(1,11):# 11 is out of bond
    print(f"10X{i}={10*i}")

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

In [20]:
"Suuny"*10

'SuunySuunySuunySuunySuunySuunySuunySuunySuunySuuny'

In [21]:
"*"*10

'**********'

In [19]:
 ## i is not necessary to use
for i in range(1,11): # 11 is out of bond
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [22]:
 ## i is not necessary to use
for sunny in range(1,11): # 11 is out of bond
    print("*"*sunny)

*
**
***
****
*****
******
*******
********
*********
**********

In [24]:
Cost_of_items=[100,200,129,456]

total_sum = 0

for i in range(0,4):
    print(f"{total_sum}={total_sum}+{Cost_of_items[i]}")
    total_sum=total_sum+Cost_of_items[i]
    print(f"After adding  total sum={total_sum}")
    print("-----")
print(f"Total amount to be paid : {total_sum}")

0=0+100
After adding  total sum=100
-----
100=100+200
After adding  total sum=300
-----
300=300+129
After adding  total sum=429
-----
429=429+456
After adding  total sum=885
-----
Total amount to be paid : 885

In [28]:
Cost_of_items=[100,200,129,456]

total_sum = 0

for i in range(0,3):
    print(f"{total_sum}={total_sum}+{Cost_of_items[i]}")
    total_sum=total_sum+Cost_of_items[i]
    print(f"After adding  total sum={total_sum}")
    print("-----")
print(f"Total amount to be paid : {total_sum}")

0=0+100
After adding  total sum=100
-----
100=100+200
After adding  total sum=300
-----
300=300+129
After adding  total sum=429
-----
Total amount to be paid : 429

In [26]:
len(Cost_of_items)

4

In [29]:
Cost_of_items=[100,200,129,456,1000]

total_sum = 0
N = len(Cost_of_items)
for i in range(0,N):
    print(f"{total_sum}={total_sum}+{Cost_of_items[i]}")
    total_sum=total_sum+Cost_of_items[i]
    print(f"After adding  total sum={total_sum}")
    print("-----")
print(f"Total amount to be paid : {total_sum}")

0=0+100
After adding  total sum=100
-----
100=100+200
After adding  total sum=300
-----
300=300+129
After adding  total sum=429
-----
429=429+456
After adding  total sum=885
-----
885=885+1000
After adding  total sum=1885
-----
Total amount to be paid : 1885

In [34]:
Cost_of_items=[100,200,129,456,1000]

total_sum = 0

for cost in Cost_of_items:
    print(f"{total_sum}={total_sum}+{cost}")
    total_sum=total_sum+cost
    print(f"After adding  total sum={total_sum}")
    print("-----")
print(f"Total amount to be paid : {total_sum}")

0=0+100
After adding  total sum=100
-----
100=100+200
After adding  total sum=300
-----
300=300+129
After adding  total sum=429
-----
429=429+456
After adding  total sum=885
-----
885=885+1000
After adding  total sum=1885
-----
Total amount to be paid : 1885

In [31]:
Cost_of_items=[100,200,129,456,1000]

total_sum = 0
for cost in Cost_of_items :
    print (cost)

100
200
129
456
1000

In [33]:
Cost_of_items=[100,200,129,456,1000]

total_sum = 0
N = len(Cost_of_items)
for i in range(0,N):
    print(Cost_of_items[i])

100
200
129
456
1000

In [35]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

for current_station in stations:
    print(f"Current station is : {current_station}")

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03
Current station is : Station 04

In [36]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

for sunny in stations:
    print(f"Current station is : {sunny}")

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03
Current station is : Station 04

# break statement

In [47]:
Cost_of_items=[100,200,129,456,1000,199,299]

total_sum = 0
budget = 2000


for cost in Cost_of_items:
        total_sum=total_sum+cost
        print(f"current total:{total_sum}")
        if total_sum > budget:
            print(f"Since current total is more than my budget : {budget}")
            print("Please remove the last item")
            total_sum=total_sum-cost
            break
                
print(f"Total amount to be paid : {total_sum}")

current total:100
current total:300
current total:429
current total:885
current total:1885
current total:2084
Since current total is more than my budget : 2000
Please remove the last item
Total amount to be paid : 1885

In [44]:
for i in range(1,100):
    
    print(i)
    if i>50:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [52]:
for i in range(0,100):
    if i > 50:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [53]:
for i in range(1,20):
    if i%2== 0:
        continue  # Start the loop again
    print(i)

1
3
5
7
9
11
13
15
17
19

In [54]:
for i in range(1,20):
    if i%2== 0:
        break # Stop the loop
    print(i)

1

In [55]:
for i in range(1,20):
    if i%2!= 0:
        continue  # Start the loop again
    print(i)

2
4
6
8
10
12
14
16
18

In [58]:
for i in range(1,20):
    if i%2!= 0:
        break # stop the loop
    print(i)

In [59]:
for i in range(1,100):
    
    print(i)
    if i>50:
        continue

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [60]:
for i in range(0,100):
    if i > 50:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [63]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

for current_station in stations:
    print(f"Current station is : {current_station}")
    if current_station=="Station 03":
        break

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03

In [64]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

for current_station in stations:
    print(f"Current station is : {current_station}")
    if current_station=="Station 02":
        break

Current station is : Station 01
Current station is : Station 02

In [65]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

for current_station in stations:
  
    if current_station=="Station 03":
        continue
    print(f"Current station is : {current_station}")

Current station is : Station 01
Current station is : Station 02
Current station is : Station 04

break: It complely stops the loop

Continue: It Skips the current loop,it skips all  the statement after 'Continue' keyword

In [ ]:
for i in range(1,10):
    pass # I want to write code later

In [66]:
# Train journey
stations= ["Station 01","Station 02","Station 03","Station 04"]

for current_station in stations:
  
    if current_station=="Station 02":
        pass
    print(f"Current station is : {current_station}")

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03
Current station is : Station 04

# REVISION of Todays class

 ### if else

In [67]:
num=100

if num%2==0:
    print("The no is even")
else:
     print("The no is odd")

The no is even

In [70]:
num=89


if num > 100:
    print("the no is greater than 100")
elif 80 < num <=100:
    print("the no is in range 80 to 100")
elif 60 < num <=80:
    print("the no is in range 60 to 80")
elif 40 < num <=60:
    print("the no is in range 40 to 60")
else:
    print("the no is less than 40")

the no is in range 80 to 100

In [73]:
num=35



if 80 < num <=100:
    print("grade A")
elif 60 < num <=80:
    print("grade B")
elif 40 < num <=60:
    print("grade C")
else:
    print("Failed")

Failed

### Nested if else:

In [76]:
a,b,c=120,13,15

if a > b:
    if a > c:
        print(f"a is greater the all 3 nos: {a}")

a is greater the all 3 nos: 120

In [ ]:
# Complex conditional cases
attendance=70
assignment_submitted=40
sports_player=True
print(f"attendance criteria met?:{attendance>=75}")
print(f"attendance criteria met?:{assignment_submitted>=70}")
print(f"sports criteria met?:{sports_player}")


if attendance>=75 and assignment_submitted>=70 :
    if sports_player:
        print("the student is eligible foe appear in final year exam")
    else:
        print("the student is   eligible foe appear in final year exam")
else:
    print("the student is  not eligible foe appear in final year exam")

## Pass

In [78]:
for i in range (0,11):

print("Hello")

IndentationError: expected an indented block (626226076.py, line 3)

In [79]:
for i in range (0,11):
    pass

print("Hello")

Hello