# PRINT STATEMENTS

In [2]:
print("greetings from iNeuron")
print("Good Evening")

greetings from iNeuron
Good Evening

In [1]:
print("Hello Neurons")

Hello Neurons

In [3]:
print('greetings from iNeuron')
print('Good Evening')

greetings from iNeuron
Good Evening

In [4]:
Print("Good Evening")

NameError: name 'Print' is not defined

In [5]:
print "Good Evening"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Good Evening")? (213401618.py, line 1)

In [6]:
print("Good
      Evening")

SyntaxError: EOL while scanning string literal (705981708.py, line 1)

In [7]:
"Good morning"

'Good morning'

In [8]:
"Good morning"
print("HI")

HI

In [9]:
print("""Good
Evening""")

Good
Evening

In [10]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.
""")

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

In [11]:
print("""Good
Evening
from
India""")

Good
Evening
from
India

COMMENTS

In [12]:
# SAY HELLO TO THE STUDENTS
print ('Hi Students')

Hi Students

In [13]:
# SAY HELLO TO THE STUDENTS
#print ('Hi students')

Multi line Comments

In [16]:
"""
Say Hi
To the Students
"""
print('Hi Students')

Hi Students

In [17]:
#Say Hi
#To the Students
print('Hi Students')

Hi Students

In [18]:
# more exceptional cases in print statements

print("hi my name is "sunny" ")

SyntaxError: invalid syntax (1736668985.py, line 3)

In [21]:
print('hi my name is "sunny" ')

hi my name is "sunny"

In [22]:
print("hi my name is 'sunny' ")

hi my name is 'sunny'

In [23]:
print("""hi my name is "sunny" """)

hi my name is "sunny"

In [24]:
print("""hi my name is "sunny"! """)

hi my name is "sunny"!

# Header --Markdown

In [26]:
123+245 # Sum of 2 nos

368

In [27]:
 123 * 245

30135

In [28]:
123 /245

0.5020408163265306

In [29]:
123**2 # power of 123 raised to 2

15129

In [30]:
123%2 # modulo operator which gives you reminder

1

In [32]:
(-123)**2

15129

In [38]:
122%2

0

In [34]:
123 * 245
print("Result")

Result

In [35]:
print(123 * 245)
print("Result")

30135
Result

In [36]:
print("123 * 245")
print("Result")

123 * 245
Result

# Variables in Python

In [39]:
x=10
print(x)

10

In [40]:
y=20

In [41]:
print(y)

20

In [42]:
print(x+y)

30

In [43]:
print(x/y)

0.5

1. Variables name should start with alphabets
2. Variables name should not contain any special characters ike ^ % $ ! @ ^ * ()
3. Variables names can contain no but you cant start with numbers
4.Its not a strict rule that variables start with capital letters but it is recommended.

1. Variables name should start with alphabets

In [44]:
ten=10
ten_number=10
tenNumber=10

2. Variables name should not contain any special characters ike ^ % $ ! @ ^ * ()

In [1]:
ten*=10

NameError: name 'ten' is not defined

In [2]:
ten=10
ten_number=10
ten%number=10
tenNumber=10

SyntaxError: cannot assign to operator (3935745263.py, line 3)

In [3]:
ten=10
ten_number=10
ten/number=10
tenNumber=10

SyntaxError: cannot assign to operator (1823854840.py, line 3)

In [ ]:
3. Variables names can contain no but you cant start with numbers

In [4]:
ten=10

In [5]:
10ten=10

SyntaxError: invalid syntax (2851132279.py, line 1)

In [6]:
_num=10 # hidden variable

In [ ]:
4.Its not a strict rule that variables start with capital letters but it is recommended.

In [7]:
Ten=10

In [8]:
ten number=10

SyntaxError: invalid syntax (2336307459.py, line 1)

In [10]:
tenn_umber=10

# Data Type

# Fundamental Dataype

Integers

In [1]:
a=7

In [2]:
type(a)

int

In [4]:
type(b)

int

In [3]:
b=7777

# Float-numbers containing decimal

In [10]:
pi=3.14
pi

3.14

In [12]:
pi=22/7
pi

3.142857142857143

In [14]:
type(pi)

float

In [7]:
type(pi)

float

In [8]:
x=2.0

In [9]:
type(x)

float

# Complex

In [18]:
a=2+3j
a

(2+3j)

In [17]:
type(a)

complex

In [20]:
a.real

2.0

In [21]:
a.imag

3.0

In [23]:
a.conjugate()

(2-3j)

# Dynamic typing

In [25]:
#int a=22;

In [2]:
a=22
print(type(a))
a=22.2
print(type(a))
a="Sunny"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
print(a)

Sunny

# Strong typing

In [6]:
"Day"+"1"

'Day1'

In [12]:
22+22

44

In [13]:
"22"+"22"

'2222'

In [14]:
"22"+22

TypeError: can only concatenate str (not "int") to str

In [15]:
"22"+'22'

'2222'

In [11]:
"Sunny" +" " "Chandra"

'Sunny Chandra'

In [16]:
22.2+1

23.2

In [17]:
a=1#integer  data type
b=1.2 #float data type
c="Sunny"# string data type
f=1+2J #Complex dat type

In [18]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [20]:
print("Hi welcome to class of Java language")

Hi welcome to class of Java language

In [25]:
language="python"
print("Hi welcome to class of" +language +  " language")

Hi welcome to class ofpython language

In [26]:
language="Java"
print("Hi welcome to class of" +language +  " language")

Hi welcome to class ofJava language

In [27]:
language="Java script"
print("Hi welcome to class of" +language +  " language")

Hi welcome to class ofJava script language

In [30]:
language="Java script"
print(f"Hi welcome to class of {language}  language")

Hi welcome to class of Java script  language

In [32]:
language="Java script"
print("Hi welcome to class of {} language".format(language))

Hi welcome to class of Java script language

In [33]:
# f-> formatted string method
num="first"

language="Java script"
print(f"Today is the {num} class of {language} language")# current standard approach

Today is the first class of Java script language

In [35]:
# f-> formatted string method
num="first"

language="Java script"
print("Today is the {} class of {} language".format(num,language))

Today is the first class of Java script language

In [39]:

num="first"

language="Java script"
print("Today is the "+ num +"class of "+ language +" language")

Today is the firstclass of Java script language

In [41]:
a=22
b=34
c=a+b
print(f"the result of sum of two nums a: {a} and b: {b} is c  ={c}")

the result of sum of two nums a: 22 and b: 34 is c  =56

# Boolean
true false

In [42]:
one=True
two= False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [44]:
class_strats_at= 1500
you_came_at=1600
you_came_at < class_strats_at

False

In [46]:
class_strats_at= 3
you_came_at=2
you_understood_all_concepts = you_came_at < class_strats_at

print(f"You understood everything?:{you_understood_all_concepts}")

You understood everything?:True

In [47]:
class_strats_at= 3
you_came_at=4
you_understood_all_concepts = you_came_at < class_strats_at

print(f"You understood everything?:{you_understood_all_concepts}")

You understood everything?:False

In [48]:
is_raining=True
print(f"will you ")

will you

In [1]:
2+2

4